{{ define "content" }}
  <!-- partial:partials/_navbar.html -->
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    {{ template "navbar" }}
    {{ template "theme-setting" }}
    {{ template "right-sidebar"}}
    <!-- partial:partials/_sidebar.html -->
    {{ template "sidebar" }}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Upload Avatar, userID : {{ .id }}</h4>
                    <form class="forms-sample" method="POST" action="/users/{{ .id }}/avatar" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>File upload</label>
                            <input type="file" name="avatar" id="avatar" class="file-upload-default">
                            <div class="input-group col-xs-12">
                              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" accept="image/*">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                            </div>
                          </div>
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script>

    </script>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
{{ end }}