{{ define "content" }}
  <!-- partial:partials/_navbar.html -->
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    {{ template "navbar" }}
    {{ template "theme-setting" }}
    {{ template "right-sidebar"}}
    <!-- partial:partials/_sidebar.html -->
    {{ template "sidebar" }}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Buat Data Kampanye Baru</h4>
                    <form class="forms-sample" method="POST" action="/campaigns/new">
                      
                      <div class="form-group">
                            <label for="exampleFormControlSelect2">Pengguna</label>
                            <select class="form-control" id="exampleFormControlSelect2" name="user_id">
                              <option disabled>-- Select User --</option>
                              {{ range .Users }}
                                {{ if eq .ID $.UserID }}
                                  <option value="{{  .ID  }}" selected>{{ .Name }}</option>
                                {{ else }}
                                  <option value="{{  .ID  }}">{{ .Name }}</option>
                                {{ end }}
                              {{ end }}
                            </select>
                          </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Nama Kampanye</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" required placeholder="Nama Kampanye" name="name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Deskripsi Pendek</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" required placeholder="Deksripsi Singkat" name="short_description">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Deskripsi</label>
                        <textarea class="form-control form-control-lg" id="exampleTextarea1" rows="10" required name="description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Jumlah Tujuan</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" required placeholder="Jumlah Tujuan" name="goal_amount">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Keuntungan</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" required placeholder="Keuntungan" name="perks">
                        <p style="color:#666666c4">gunakan tanda koma "," untuk tanda pisah. contoh : perks1,perks2,perks3</p>
                      </div>
                      
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                      <!-- <button class="btn btn-light">Cancel</button> -->
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
{{ end }}


